:root {
    font-family: "Roboto", sans-serif;
    --big-font-size: 1.25rem;
    --tiny-font-size: 0.875rem;

    --black: #081f32;
    --gray: #8e8e93;
    --gray-light: #f2f2f7;
    --character-grid-columns: 4;
    --container-padding: 210px;

    --404-size: 16rem;

    --max-width: 1580px;
}

html {
    font-size: 16px;
}

h1,
h2,
h3,
span {
    color: var(--black);
}

h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2,
h3 {
    font-size: var(--big-font-size);
}

h2 {
    font-weight: 500;
}

button {
    font-family: "Karla", sans-serif;
    font-size: 1.125rem;
    text-transform: uppercase;

    &:hover {
        background-color: var(--gray-light);
    }

    transition: all ease 0.2s;
}

.tiny-text {
    font-weight: 400;
    color: var(--gray);
    font-size: var(--tiny-font-size);
}

#root {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.container {
    margin: 0 var(--container-padding);

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    padding-bottom: 5rem;

    max-width: var(--max-width);
}
