.login-button {
    margin-left: 1rem;

    &:after {
        content: "";
        display: none;
        aspect-ratio: 1/1;
        height: 1.5rem;
        background-image: url("../..//assets/logout.svg");
        background-size: contain;
    }
}
