.login-button {

    &:after {
        content: "";
        display: none;
        aspect-ratio: 1/1;
        height: 1.5rem;
        background-image: url("../..//assets/logout.svg");
        background-size: contain;
    }
}

@media (max-width: 575px) {
    .login-button {
        &.loggedon {
            span {
                display: none;
            }

            &:after {
                display: block;
            }
        }
    }
}
