.user-panel-section {
    margin-left: auto;
    display: flex;
    align-items: center;

    height: 2.5rem;

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid var(--gray-light);

        margin-right: 1rem;

        &:hover {
            transform: scale(3);
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
                0px 2px 4px rgba(0, 0, 0, 0.14);
        }

        transition: all ease .2s;
    }
}
