.scroll-top {
    cursor: pointer;

    --icon-size: 10rem;

    position: fixed;
    right: 0;
    bottom: 0;

    // opacity: 0;
    width: var(--icon-size);
    height: var(--icon-size);

    transform: translateY(100%);

    display: flex;
    align-items: center;

    &::after {
        content: "Scrolltop";
        font-family: "Karla", sans-serif;
        font-size: var(--text-size);
        text-transform: uppercase;

        display: block;
        position: absolute;
        right: -1.5rem;
        writing-mode: vertical-rl;
    }

    &.visible {
        transform: translateY(0);

        &:hover {
            transform: translateX(-2rem);
        }
    }

    transition: transform ease 0.2s;
}
