.character-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
        0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;

    &__image {
        aspect-ratio: 4/3;
    }

    &__about {
        padding: 12px 16px;
    }

    &__name {
        line-height: 1.5rem;
    }

    &__species {
        list-style: 1.25rem;
    }

    &:hover {
        background-color: var(--gray-light);
    }

    transition: background-color ease 0.2s;
}
