header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding: 1.5rem 3rem;
    margin-bottom: 0.5rem;

    .go-back {
        display: flex;
        align-items: center;

        span {
            margin-left: 0.75rem;
        }
    }
}
